.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: none;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.custom-bg-color {
    background-color: #3A1078;
}
.inner-row{
    height: 100vh;
}
.primaryBg{
    background: #3498db;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    cursor: pointer;
    font-size: 24px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px;
    border: 1px solid #ddd;
}

.dropdown.show .dropdown-menu {
    display: block;
}


