<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DND SERV{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="public/css/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-Ms1qzD1gHNpWWdWevP8rHwxCtD0+ZgsTKJXDL1n0EkCn7GYEtXDtBtgV7B+xz+IKFr7VZBtKZfXfnEMv0/93lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    {% endblock %}


</head>
<body >
<!--menu-->
<header>
    <nav class="navbar navbar-expand-lg  fixed-top mb-5"  style="background-color: #e3f2fd;" >
        <div class="container-fluid">
            <a class="navbar-brand  mb-0 h1" href="/">
                <img src="images/dndlogo.jpg" width="30" height="30" class="d-inline-block align-top mx-3 text-dark" alt=""><span class="text-dark">DND SERV</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" aria-current="page" href="#">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">NOTRE AGENCE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">SERVICES</a>
                    </li>
                    <div class="me-auto">
                        <li class="nav-item dropdown me-auto ">
                            <a class="nav-link btn btn-outline-primary mx-2 text-dark dropdown-toggle me-auto" role="button" data-bs-toggle="dropdown" href="{{ path('app_register') }}">Connexion</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/register">Connexion</a></li>
                                <li><a class="dropdown-item" href="/admin">Mes données </a></li>
                                <li><a class="dropdown-item" href="/logout">Déconnexion</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

</header>


{% block body %}{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        var btns = document.querySelectorAll('.card-body');
        btns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var loader = this.querySelector('.loader');
                loader.style.display = 'block';
                setTimeout(function() {
                    loader.style.display = 'none';
                }, 2000);
            });
        });</script>

    <!-- Inclure les scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="public/js/app.js"></script>

{% endblock %}
</body>
</html>

